header {
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  align-items: center;
  font-size: 2em;
  justify-content: space-between;
}

.logo {
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

nav {
  flex: 1;
  display: flex;
}

nav ul li {
  display: block;
  list-style: none;
  padding: 20px 60px;
}
